@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


html {
    max-width: 100%;
    font-family: 'Ranchers', cursive;
    font-size: 5em;
    word-spacing: 5px;
    letter-spacing: 1px;
    background-color: darkslateblue;
}

header {
    border-style:groove;
    border-color: black;
    border-width: 2px;
    background-color: black;
    color: white;
    text-align: center;
}

body nav section {
    border-style:groove;
    border-color: black;
    border-width: 2px;
    min-height: 3.2em;
    background-color:palevioletred;
    color: white;
    text-align: center;
}

footer {
    border-style:groove;
    border-color: black;
    border-width: 2px;
    background-color:gray;
    color: white;
    text-align: center;
}